<!-- sidebar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="sidebar">
                <a href="#" class="logo">
                    <img src="../../assets/Instagram-Logo-2016-present.png" alt="" class="image-logo">
                </a>
                <!-- profile image -->
                <div class="profile">
                    <div class="justify-content-center align-content-center align-items-center flex">
                        <img src="../../assets/mathika.jpg" alt="" class="profile-img p-1">
                    </div><br>
                    <div class="name text-center">
                        <p class="fw-bold small">Dua lipa</p>

                    </div>

                </div>
                <!-- box -->
                <div class="abou d-flex justify-content-between mt-4">
                    <!-- box-1 -->
                    <div class="box">
                        <h6 class="mx-1">54 </h6>
                        <span class="small">Posts</span>
                    </div>
                    <!-- box-2 -->
                    <div class="box">
                        <h6 class="mx-1">14.4K </h6>
                        <span class="small">followers</span>
                    </div>
                    <!-- box-3 -->
                    <div class="box">
                        <h6 class="mx-1">14</h6>
                        <span class="small">following</span>
                    </div>
                </div>
                <!-- menu -->
                <div class="menu mt-4">
                    <a href="#" class="active">
                        <span class="icon"><img src="../../assets/function-line.png" alt="" class="icon fs-6 small">
                        </span>feed</a>
                    <a href="#" class="fw-bold">
                        <span class=""><img src="../../assets/search-line.png" alt="" class="icon fs-6 small">
                        </span>Explore</a>
                    <a href="#" class="fw-bold">
                        <span><img src="../../assets/notification-4-line.png" alt="" class="icon"></span>
                        notifications</a>
                    <a href="#" class="fw-bold">
                        <span><img src="../../assets/mail-line.png" alt="" class="icon"></span>
                        messages</a>
                    <a href="#" class="fw-bold">
                        <span><img src="../../assets/send-plane-fill.png" alt="" class="icon"></span>
                        Direct</a>
                    <a href="#" class="fw-bold">
                        <span><img src="../../assets/bar-chart-2-fill.png" alt="" class="icon"></span>
                        Stats</a>
                    <a href="#" class="fw-bold">
                        <span><img src="../../assets/settings-5-line.png" alt="" class="icon"></span>
                        settings</a>
                    <a href="#" class="fw-bold">
                        <span><img src="../../assets/logout-box-r-line.png" alt="" class="icon"></span>
                        logout</a>
                </div>
            </div>
        </div>




        <!-- main -->
        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-7 col-sm-12">
            <div class="main-home">
                <div class="header">
                    <div class="search">
                        <img src="../../assets/search-line.png" alt="" class="w-1rem">
                        <input type="text" placeholder="search" class="" />
                    </div>
                    <div class="header-content mt-0 mx-2">
                        <img src="../../assets/notification-fill.png" alt="">
                        <img src="../../assets/mail-fill.png" alt="" class="mx-2">
                        <a href="#" class="btn">
                            <img src="../../assets/add-circle-fill.png" alt="" class="small">
                            <a href="#" class="btn-text fw-bold text-white small mx-2">Add photo</a>
                        </a>
                    </div>
                </div>
                <!-- stories -->

                <div class="stories">
                    <div class="d-flex">
                        <h3 class="mt-4 mx-3">Stories</h3>
                        <a href="#" class="btn mt-4 mx-2 ms-auto">
                            <img src="../../assets/play-circle-fill.png" alt="">
                            <a href="#" class="btn-text fw-bold mx-1 text-dark">Watch all</a>
                        </a>
                    </div>
                </div>

                <div class="story p-0 mt-4 px-0 row">

                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile-1.webp"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile-2.webp"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class=" col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile-4.jpg"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile-7.jpg"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile-8.jpg"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile-9.jpg"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile1.jpg"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-2 border-none mx-0 w-7rem mt-1">
                        <img src="../../assets/profile11.jpg"
                            class="card-img-top w-6rem h-6rem p-1 border rounded-circle" alt="...">
                    </div>


                 <!-- main posts  -->
                 <div class="feed d-flex mt-4">


                    <h3 class="fw-bold">Feed</h3>
                    <div class="feed-text ms-auto">
                        <!-- <h3 class="fw-bold">Latest</h3>
                        <p>Popular</p> -->
                    </div>
                </div>
                <div class="w-100 row mt-4">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-2">
                        <img src="../../assets/profile1.jpg" alt="" class="images">
                        <div class="d-flex mx-3 mt-2 w-100">
                            <img src="../../assets/profile1.jpg" alt="" class="profile-image p-1">
                            <p class="fw-bold mt-2 mx-1">Marque b</p>
                            <div class="like mx-4  mt-2">
                                <img src="../../assets/hearts-fill.png" alt="">
                                <span class="">18.45K</span>
                            </div>
                        </div>
                    </div>
                     <!-- 2 post -->
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-2 ">
                        <img src="../../assets/profile11.jpg" alt="" class="images">
                        <div class="d-flex mx-3 mt-2 w-100">
                            <img src="../../assets/profile11.jpg" alt="" class="profile-image p-1">
                            <p class="fw-bold mt-2 mx-1">Marque b</p>
                            <div class="like mx-4  mt-2">
                                <img src="../../assets/hearts-fill.png" alt="">
                                <span class="">18.45K</span>
                            </div>
                        </div>
                    </div>
                     <!-- 2 post -->
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-2">
                        <img src="../../assets/profile-4.jpg" alt="" class="images">
                        <div class="d-flex mx-3 mt-2 w-100">
                            <img src="../../assets/profile-4.jpg" alt="" class="profile-image p-1">
                            <p class="fw-bold mt-2 mx-1">Marque b</p>
                            <div class="like ms-4  mt-2">
                                <img src="../../assets/hearts-fill.png" alt="">
                                <span class="">18.45K</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  




            </div>
        </div>